.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .input1{
    height: 2vh;
    width: 30vh;
}

.container .input2{
    height: 3vh;
    width: 10vh;
    background-color: antiquewhite;
    border: none;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.container2 .input2:hover{
    transform: scale(1.02);
}